.git/
.gitignore
.github/
.vscode/
log/*
tmp/*
storage/*
node_modules/
public/assets/
public/packs/
coverage/
.env
.env.*
*.md
LICENSE
Makefile
docker-compose*.yml
.dockerignore
.rubocop.yml
.rspec
spec/
test/
vendor/bundle/
